body {
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 0px;
}

h1 {
	font-size: 120%;
	color: #954b4b;
}

#header {
	background-color: #675c47;
	margin: 10px;
	height: 108px;
}

#footer {
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	padding: 15px;
	margin: 10px;
	font-size: 90%;
	clear: right;
}

#main {
	background-color: #efe5d0;
	background-image: url("images/background.gif");
	background-position: top left;
	font-size: 105%;
	padding: 15px;
	margin: 0px 330px 10px 10px;
}

#sideBar {
	width: 280px;
	float: right;
	background: #efe5d0 url("images/background.gif") bottom right;
	font-size: 105%;
	padding: 15px;
	margin: 10px;
	margin-top: 0px;
}

.slogan {
	color: #954b4b;
}

.beanheading {
	line-height: 1.8em;
	text-align: center;
	
}

a:link {
	color: #b76666;
	text-decoration: none;
	border-bottom: thin dotted #b76666;
}

a:visited {
	color: #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47;
}

a:hover {
	background-color: #954b4b;
}