body {
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 0px;
}

h1 {
	font-size: 120%;
	color: #954b4b;
}

header {
	background-color: #675c47;
	margin: 10px;
	margin-bottom: 0px;
	height: 108px;
}

#headerLogo {
	float: left;
}

#headerSlogan {
	float: right;
}

#award {
	position: absolute;
	top: 30px;
	left: 365px;
}

#coupon {
	position: fixed;
	top: 350px;
	left: -90px;
}

#coupon a, img {
	border:none;
}

footer {
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	padding: 15px;
	margin: 10px;
	margin-top: 0px;
	font-size: 90%;
	clear: left;
}

section#drinks {
	display: table-cell;
	background-color: #efe5d0;
	width: 20%;
	padding: 15px;
	vertical-align: top;
}

section#main {
	display: table-cell;
	background-color: #efe5d0;
	background-image: url("images/background.gif");
	background-position: top left;
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
}

aside#sideBar {
	display: table-cell;
	background: #efe5d0 url("images/background.gif") bottom right;
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
}

#tableContainer {
	display: table;
	border-spacing: 10px;
}

#tableRow {
	display: table-row;
}

.slogan {
	color: #954b4b;
}

.beanheading {
	line-height: 1.8em;
	text-align: center;
	
}

a:link {
	color: #b76666;
	text-decoration: none;
	border-bottom: thin dotted #b76666;
}

a:visited {
	color: #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47;
}

a:hover {
	background-color: #954b4b;
}