body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}

@font-face { /*get a font from the internet*/
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

h1 {
	font-family: "Emblema One", sans-serif;
	font-size: 220%; /*the percentaage relative to the parent's*/
}

h2 {
	font-size: 130%;
}